# Maven y Gradle
target/*
target/
out/
build/

# Cofig IDE
.vscode/
.idea/
*.iml

# Archivos de entorno y credenciales
.env
.env.*
*.env

application-dev.properties

# 
**/*~undo-tree~*


# 
docs/
README copy.md
